<app-header></app-header>

<div class="card-container">

    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/bookimg1.jpg" alt="c1"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$200</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>
    </div>

    <div class="card ">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/bookimg2.jpg" alt="c2"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$230</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/bookimg3.webp" alt="c3"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$190</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/bookimg4.jpg" alt="c1"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$170</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>
    </div>

    <div class="card img2">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/bookimg5.webp" alt="c2"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$210</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/bookimg6.jpg" alt="c3"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <p class="price">$150</p>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p>Buy now</p>
            </div>
        </div>

    </div>


</div>