<app-header></app-header>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="Ball Fussion">
</ngx-spinner>
<div class="maincard">
    <div class="signupimg">
        <img src="../../../assets/loginimg.jpg">
    </div>
    <div class="signupdata">
        <div class="head">
            <p>Want to join our Family</p>
        </div>
        <div class="container">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Enter your email" class="email" style="padding-left: 40px;" formControlName="email">
                    <ion-icon name="mail-outline" class="emailicon"></ion-icon>
                </div>
                <div class="form-group">
                    <input type="{{ type }}" id="password" (click)="toggleEyeIconVisibility()" name="password" placeholder="Enter your password" class="password" style="padding-left: 40px;" formControlName="password">
                    <ion-icon name="lock-closed-outline" class="lockicon"></ion-icon>
                    <i class="fa {{eyeIcon}}" (click)="hideShowPass()" style="position: absolute; margin-left: -30px; margin-top: 10px; color: gray;"></i>     
                </div>
            </form>
        </div>
        <div><p class="forgot" [routerLink]="['/','forgot']">Forgot Password?</p></div>
        
        <div class="button-container main">
            <button class="button signup-button" (click)="onLogin()" [ngStyle]="{'background-color': loginForm.valid ? '#b75f55' : 'lightgray'}" >Log in</button>
        </div>
        <!-- <div class="otheroption">
            <p>Or you can join with</p>
            <div class="options">
                <div class="option1">
                    <img src="../../../assets/google.svg">
                    <p>Log in with Google</p>
                </div>
                <div class="option2">
                    <img src="../../../assets/facebook.svg">
                    <p>Log in with Google</p>
                </div>
            </div>
        </div> -->
        <div class="gotologin">
            <p class="p1">Don't have an account?</p>
            <p class="p2" [routerLink]="['/','signup']">Sign up</p>
        </div>
        <!-- <div class="logo">
            <div class="icon">
                <ion-icon name="restaurant"></ion-icon>
            </div>
            <div class="header1">
                <span class="hed1">FOOD.</span>
                <span class="hed2">IO</span>
            </div>
        </div> -->
    </div>
</div>



<div style="margin-top: 10%;"> </div>
<app-footer></app-footer>
