<app-header></app-header>

<div class="main">
    <div class="twocards" data-aos="zoom-out-up">

        <div class="aboutuscard">
            <div class="head">
                <p class="OMp">Our Mission</p>
                <div class="details">
                    At FOOD.IO, our mission is to inspire and empower people to cook delicious,
                    wholesome meals at home. We believe that cooking should be accessible, enjoyable,
                    and rewarding for all, regardless of skill level or dietary preferences.
                    By providing easy-to-follow recipes, cooking tips, and a supportive community,
                    we aim to foster a love for cooking and eating well-balanced meals made with fresh, quality
                    ingredients.
                </div>
            </div>
        </div>

        <div class="aboutuscard1">
            <div class="head1">
                <p class="OMp">Our Vision</p>
                <div class="details1">
                    At FOOD.IO , our vision is to inspire and empower people to discover
                    the joy of cooking, sharing, and savoring delicious meals. We believe
                    that cooking should be an enjoyable and rewarding experience for everyone,
                    regardless of skill level or culinary background. Our goal is to provide
                    a platform where users can explore a diverse range of recipes,
                    from traditional favorites to innovative creations, and embark on
                    culinary adventures with confidence and enthusiasm.
                </div>
            </div>
        </div>

        <div class="aboutuscard1">
            <div class="head1">
                <p class="OMp">Meet the Team</p>
                <div class="details1">
                    Behind FOOD.IO is a passionate team of food enthusiasts, 
                    chefs, designers, and developers dedicated to creating the best 
                    possible experience for our users. With diverse backgrounds and 
                    expertise in culinary arts, technology, and design, we collaborate 
                    to bring you innovative features, beautiful design, and delicious 
                    recipes that inspire and delight. Get to know the faces behind FOOD.IO 
                    and join us on our mission to make cooking more enjoyable and accessible for everyone.
                </div>
            </div>
        </div>


    </div>
    <div class="maincard" data-aos="flip-right">
        <div class="signupimg">
            <img src="../../../assets/trend1.jpg">
        </div>
        <div class="signupdata">
            <div class="head">
                <p>Contact Us</p>
            </div>
            <div class="container">
                <form>
                    <div class="form-group">
                        <input type="text" id="name" name="name" placeholder="Enter your name" class="email"
                            style="padding-left: 40px;">
                        <ion-icon name="person-circle-outline" class="emailicon"></ion-icon>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Enter your email" class="email"
                            style="padding-left: 40px;">
                        <ion-icon name="mail-outline" class="emailicon"></ion-icon>
                    </div>
                    <div class="form-group">
                        <textarea type="textarea" id="text" name="message" placeholder="Message" class="password"
                            style="padding-left: 40px;"></textarea>
                        <ion-icon name="list-circle-outline" class="lockicon"></ion-icon>
                    </div>
                </form>
            </div>


            <div class="button-container main">
                <button class="button signup-button">Submit</button>
            </div>


            <div class="logo">
                <div class="icon">
                    <ion-icon name="restaurant"></ion-icon>
                </div>
                <div class="header1">
                    <span class="hed1">FOOD.</span>
                    <span class="hed2">IO</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div style="margin-top: 10%;"> </div>
<app-footer></app-footer>