
  .aboutuscard,  .aboutuscard1{
    width: 400px;
    height: 500px;
    padding: 20px;
    // margin-left: 320px;
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: "Prompt", sans-serif;
  }
  
  .twocards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .details {
    font-size: 1rem;
    line-height: 1.6;
    color: #555; 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: justify;
}
.details1 {
    font-size: 1rem;
    line-height: 1.6;
    color: #555; 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: bold;
    width: 350px;
    text-align: justify;
}
.OMp{
    color: #b75f55; 
    text-decoration: underline;
}


  
  .head{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 25px;
    margin-top: -15px;
  }
  .head1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 25px;
    margin-top: -15px;
  }
  

.hed1{
    text-decoration: underline;
}
