.maincard {
    width: 800px;
    height: 550px;
    padding: 20px;
    margin-left: 350px;
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    font-family: "Prompt", sans-serif;
  }
  .signupimg img{
    width: 400px;
    height: 550px;
    object-fit: cover;
  }
  .head{
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: -15px;
  }
  .container {
    width: 400px;
    height: 80px;
    padding-top: 30px;
    margin: 0 auto;
  }
  .signupdata{
    display: flex;
    flex-direction: column;
  }
  // .is-invalid{
  //   border-color: red !important;
  // }
  .form-group {
    margin-left: 20px;
    position: relative;
    
    input{
        border: none;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color 0.3s;
    }
    input:focus {
        border-bottom: 3px solid #b75f55; 
        outline: none;
    }
 
  }
  .username, .email, .password, .reset-password{
    // position: relative;
    // display: inline-block;
    height: 40px;
   
  }

 .codeicon, .emailicon, .lockicon, .lockicon2 {
    position: absolute;
    margin-top: 10px;
    margin-left: -370px;
    color: gray;
    width: 20px;
    height: 20px;
 }

.checkbox{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;


}
.check{
    width: 15px;
    height: 15px;
}
.check:checked{
    accent-color: #b75f55 ;
    width: 15px;
    height: 15px;
}
.checktext{
    font-weight: bold;
    color: grey;
    font-size: 13px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
}
.checktext1{
    font-weight: bold;
    color: grey;
    font-size: 13px;
    margin-top: 0px;
    text-decoration: underline;
    margin-left: 5px;
}
  .signup-button {
    padding: 10px 20px;
    width: 130px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color:#b75f55;
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: bold;
  }
  .signup-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .otheroption p{
    font-size: 12px;
    color: grey;
    margin-left: 25px;
    margin-top: 20px;
  }
  .options{
    display: flex;
    flex-direction: row;
   margin-left: 25px;
   justify-content: space-between;
  }
  .option1, .option2{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    // padding: 2px;
    width: 180px;
    height: 35px;
    border-radius: 8px;
  }
  .option1 img, .option2 img{
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
   
  }
  .option1 p, .option2 p {
    margin-top: 2px;
    margin-left: 20px;
    font-size: 13px;
    padding-top: 7px;
    
  }
  .gotologin{
    display: flex;
    flex-direction: row;
  }
  .p1{
    font-size: 15px;
    color: gray;
    margin-left: 25px;
  }
  .p2{
    font-size: 15px;
    color: #b75f55;
    margin-left: 8px;
    cursor: pointer;
  }
  .logo{
    display: flex;
    flex-direction: row;
    margin-left: 290px;
    margin-top: 20px;
  }
  .header1{
    display: flex;   
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
}
.icon{
    font-size: 22px;
}
.hed1{
    text-decoration: underline;
}
.hed2{
    color: #c88881;
    text-decoration: underline;
}

.role {
  border: none;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  height: 40px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // background: url('data:image/svg+xml;utf8,<svg fill="#888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center/15px 15px;
}

.role:focus {
  border-bottom: 3px solid #b75f55; 
  outline: none;
}

/* Remove default arrow in Firefox */
.role::-ms-expand {
  display: none;
}

/* Style the selected option */
.role option {
  color: gray;
  background-color: white;
}
