<app-header></app-header>
<div class="maincard">
    <div class="signupimg">
        <img src="../../../assets/popcorn.avif">
    </div>
    <div class="signupdata">
        <div class="head">
            <p>Reset Your Password</p>
        </div>
        <div class="container">
            <form [formGroup]="resetForm" >
                
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Enter your email" class="email"
                        style="padding-left: 40px;" formControlName="email"  
                        email
                        required
                        [ngClass]="{'is-invalid': resetForm.get('email')?.touched && resetForm.get('email')?.invalid}">
                    <ion-icon name="mail-outline" class="emailicon"></ion-icon>
                </div>
                <div class="form-group">
                    <input type="text" id="userName" name="userName" class="userName" placeholder="Enter OTP"
                        style="padding-left: 40px;" formControlName="otp"  
                        [ngClass]="{'is-invalid': resetForm.get('userName')?.touched && resetForm.get('userName')?.invalid}" required>
                       
                        <ion-icon name="code-working-outline" class="codeicon" style="margin-top: 5px;"></ion-icon>

                </div>
                <div class="form-group">
                    <input type="{{ type }}" id="password" (click)="toggleEyeIconVisibility()" name="password" placeholder="Enter your password" class="password" style="padding-left: 40px;" formControlName="password"
                        [ngClass]="{'is-invalid': resetForm.get('password')?.touched && resetForm.get('password')?.invalid}">
                        <ion-icon name="lock-closed-outline" class="lockicon"></ion-icon>
                         <i class="fa {{eyeIcon}}" (click)="hideShowPass()" style="position: absolute; margin-left: -30px; margin-top: 10px; color: gray;"></i>          
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="confirmpassword"
                        style="padding-left: 40px;" placeholder="Confirm Password" formControlName="confirmPassword">
                        <ion-icon name="lock-closed" class="lockicon2" style="margin-top: 5px;"></ion-icon>
                </div>
               
             
              
                <div class="button-container main" >
                    <button class="button signup-button" (click)="onReset()" [ngStyle]="{'background-color':  resetForm.valid  ? '#b75f55' : 'lightgray'}">Login</button>
                </div>
               
            </form>
        </div>
