<body>
    <app-header></app-header>
    <div class="main">
        <div class="path" [@slideInFromLeft]>
            <p class="p1">Home > Recipe > </p>
            <p class="p2" >Mixed Greens with Sun-Dried Tomato Dressing:</p>
        </div>
        <div class="recpname" [@slideInFromLeft]>
            <p class="name">Mixed Greens with Sun-Dried Tomato Dressing</p>
            <div class="alldetails">
               <div class="alldetails1" >
                    <div class="authimg"><ion-icon name="person-circle-outline" class="authorimg"></ion-icon>
                        <p class="authname">Author Name</p>
                    </div>
                    <div class="dateimg"><ion-icon name="calendar-outline" class="date"></ion-icon>
                        <p class="datename">26 sep, 2023</p>
                    </div>
               </div>
               <div class="alldetails2">
                    <div class="comtimg"><ion-icon name="chatbubble-ellipses-outline" class="cmt"></ion-icon>
                        <p class="cmtdata">22 Comments</p>
                    </div>
                    <div class="saveimg"><ion-icon name="bookmark-outline" class="save"></ion-icon>
                        <p class="savedata">9 Save</p>
                    </div>
               </div>
                <div class="starimg">
                    <p class="stars">★★★★☆</p>
                    <p class="strtext">4.0/10 Reviwe</p>
                </div>
               
                    <div class="bkmark"><ion-icon name="bookmark" class="bookmark"></ion-icon></div>
                    <div class="shrbtn"><ion-icon name="share-social-outline" class="share"></ion-icon></div>
              
            </div>
        </div>
        <div class="hr"></div>
        <div class="main1">

            <div class="part1">

                <div class="img-card1" [@fadeInOut]>
                    <div class="saladimg"><img src="../../../assets/salad.jpg"></div>
                </div>

                <div class="prep">
                    <div class="preparation">
                        <p class="prepname">Prep time:</p>
                        <p class="preptime">5 mins</p>
                    </div>
                    <div class="hr3"></div>
                    <div class="preparation">
                        <p class="prepname">Cook time:</p>
                        <p class="preptime">5 mins</p>
                    </div>
                    <div class="hr3"></div>
                    <div class="preparation">
                        <p class="prepname">Serving</p>
                        <p class="preptime">4 Serving</p>
                    </div>
                </div>
                <div class="main2">
                    <div>
                        <p class="recpdetails">This Recipe features a vibrant and refreshing salad made with a medley of
                            mixed greens, accompanied by a flavorful sun-dried tomato dressing.
                        </p>
                    </div>

                    <div>
                        <p class="ingre">Ingredients: </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <input type="checkbox" id="cb1" name="cb1" checked>
                                <label for="cb1">1/4 cup Sun dried tomatoes</label>
                            </li>
                            <li>
                                <input type="checkbox" id="cb2" name="cb2">
                                <label for="cb2">2 tbsp Soymilk</label>
                            </li>
                            <li>
                                <input type="checkbox" id="cb3" name="cb3">
                                <label for="cb3">5/8 tsp Rosemary</label>
                            </li>
                            <li>
                                <input type="checkbox" id="cb3" name="cb3">
                                <label for="cb3">3/4 tsp Thyme</label>
                            </li>
                            <li>
                                <input type="checkbox" id="cb3" name="cb3">
                                <label for="cb3">1/4 medium whole Tomatoes</label>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="ingre">Instruction: </p>
                    </div>
                    <div class="Ingredients-block">
                        <div class="Ingredients-inner-block">
                            <div class="border-box">1</div>
                            <div class="Ingredients-text">Soak the sun-dried tomatoes in the soy milk for an hour.
                            </div>
                        </div>
                        <div class="Ingredients-inner-block">
                            <div class="border-box">2</div>
                            <div class="Ingredients-text">Chop the fresh herbs, tomato, and onions and toss them with
                                the salad greens. Add additional veggis as desired</div>
                        </div>
                        <div class="Ingredients-inner-block">
                            <div class="border-box">3</div>
                            <div class="Ingredients-text"> Juice the lemon and combine in a high-powered blender with
                                the sun dried tomato mixture and garlic until smooth. Pour over
                                salad and toss together well. Top with brazil nuts and enjoy!</div>
                        </div>
                    </div>
                    <div class="recipecard"  data-aos="flip-right" >
                        <div class="RC1" data-aos="flip-right">
                            <div class="imgandname">
                                <div class="saladimg1"><img src="../../../assets/salad.jpg">
                                    <div class="starimg">
                                        <p class="stars2">★★★★☆</p>
                                        <p class="strtext">4.0/10 Reviwe</p>
                                    </div>
                                </div>

                                <div>
                                    <p class="CRname">Mixed Greens with Sun-Dried Tomato Dressing</p>
                                    <div class="authanddate">
                                        <div class="authimg"><ion-icon name="person-circle-outline"
                                                class="authorimg"></ion-icon>
                                            <p class="authname">Author Name</p>
                                        </div>
                                        <div class="dateimg"><ion-icon name="calendar-outline" class="date"></ion-icon>
                                            <p class="datename">26 sep, 2023</p>
                                        </div>
                                    </div>
                                    <div class="cmtandsave">
                                        <div class="comtimg"><ion-icon name="chatbubble-ellipses-outline"
                                                class="cmt"></ion-icon>
                                            <p class="cmtdata">22 Comments</p>
                                        </div>
                                        <div class="saveimg"><ion-icon name="bookmark-outline" class="save"></ion-icon>
                                            <p class="savedata">9 Save</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shareandadd">
                            <div class="RC2">
                                <div class="saveoutline"><ion-icon name="bookmark-outline"
                                        class="saveoutlineimg"></ion-icon>
                                    <p>Add to Favourite</p>
                                </div>
                            </div>
                            <div class="RC2">
                                <div class="saveoutline"><ion-icon name="share-social-outline"
                                        class="saveoutlineimg"></ion-icon>
                                    <p>Share Recipe</p>
                                </div>
                            </div>
                        </div>
                        <div class="hr4"></div>
                        <div>
                            <p class="ingre1">Ingredients: </p>
                        </div>
                        <div class="card-ingre" >
                            <ul>
                                <li>
                                    <input type="checkbox" id="cb1" name="cb1" checked>
                                    <label for="cb1">1/4 cup Sun dried tomatoes</label>
                                </li>
                                <li>

                                    <input type="checkbox" id="cb2" name="cb2">
                                    <label for="cb2">2 tbsp Soymilk</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="cb3" name="cb3">
                                    <label for="cb3">5/8 tsp Rosemary</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="cb3" name="cb3">
                                    <label for="cb3">3/4 tsp Thyme</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="cb3" name="cb3">
                                    <label for="cb3">1/4 medium whole Tomatoes</label>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <p class="ingre1">Instruction: </p>
                        </div>
                        <div class="Ingredients-block" style="width: 90%; margin-left: 30px;">
                            <div class="Ingredients-inner-block">
                                <div class="border-box">1</div>
                                <div class="Ingredients-text">Soak the sun-dried tomatoes in the soy milk for an hour.
                                </div>
                            </div>
                            <div class="Ingredients-inner-block">
                                <div class="border-box" style="width: 7%;">2</div>
                                <div class="Ingredients-text">Chop the fresh herbs, tomato, and onions and toss them
                                    with
                                    the salad greens. Add additional veggis as desired</div>
                            </div>
                            <div class="Ingredients-inner-block">
                                <div class="border-box" style="width: 10%;">3</div>
                                <div class="Ingredients-text"> Juice the lemon and combine in a high-powered blender
                                    with
                                    the sun dried tomato mixture and garlic until smooth. Pour over
                                    salad and toss together well. Top with brazil nuts and enjoy!</div>
                            </div>
                        </div>
                        <div>
                            <p class="ingre1">Cooking Note: </p>
                        </div>
                        <div class="Ingredients-block" style="width: 90%; margin-left: 30px;">
                            <div class="Ingredients-inner-block">
                                <div class="border-box" style="width: 6%;">1</div>
                                <div class="Ingredients-text">Ensure the freshness of your mixed greens. Look for crisp,
                                    vibrant leaves with no signs of witing or browning. </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr5"></div>

                    <div>
                        <p class="like">You Might like this</p>
                    </div>
                    <div class="card-container" data-aos="fade-right">
                        <div class="card">
                            <div class="img-card">
                                <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>

                        <div class="card ">
                            <div class="img-card ">
                                <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>

                        <div class="card">
                            <div class="img-card">
                                <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>


                        <div class="card">
                            <div class="img-card">
                                <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>

                        <div class="card img2">
                            <div class="img-card ">
                                <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>

                        <div class="card">
                            <div class="img-card">
                                <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
                                <div class="svgsave imgborad" *ngIf="Save"><img
                                        src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
                                <div class="svgsave imgborad" *ngIf="!Save"><img
                                        src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
                            </div>
                            <p class="stars1">★★★★☆</p>
                            <h5>Straberry and walnut Spinach Salad </h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="part2">
                <div class="leftside">
                    <div class="ntrcard" [@fadeInOut]>
                        <div>
                            <h4 class="header">Nutrition Facts</h4>
                        </div>
                        <div class="ntrdetail">
                            <p class="ntrname">Calories</p>
                            <p class="ntrvalue">494</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Carbs</p>
                            <p class="ntrvalue">80g</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Fat</p>
                            <p class="ntrvalue">18g</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Protein</p>
                            <p class="ntrvalue">24g</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Fiber</p>
                            <p class="ntrvalue">23g</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Sodium</p>
                            <p class="ntrvalue">444mg</p>
                        </div>
                        <div class="hr2"></div><br>
                        <div class="ntrdetail">
                            <p class="ntrname">Cholesterol</p>
                            <p class="ntrvalue">0mg</p>
                        </div>
                    </div>
                    <div class="recent">
                        <p>Recent Recipes</p>
                    </div>
                    <div class="recentmain" data-aos="fade-left">
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent1.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">170 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent2.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">210 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent3.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">140 cals</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card2"  data-aos="flip-right">
                        <p class="c2header">Stay Connected with our Recipe updates </p>
                        <p class="c2detail">for the latest health tips and delicious recipes</p>
                        <div class="input-group">
                            <input type="email" placeholder="&#9993; Enter your email"><br>
                            <button type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="recent">
                        <p>Related Recipe</p>
                    </div>
                    <div class="related-recipe" data-aos="fade-left">
                        <div class="related">
                            <img src="../../../assets/recent1.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent2.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent3.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent1.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent2.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent3.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                    </div>
                    <div class="recent">
                        <p>Trending Recipes</p>
                    </div>
                    <div class="recentmain" data-aos="fade-left">
                        <div class="RR1" >
                            <div class="RRimg"><img src="../../../assets/trend1.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">170 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1" >
                            <div class="RRimg"><img src="../../../assets/trend2.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">210 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1" >
                            <div class="RRimg"><img src="../../../assets/recent3.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">140 cals</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<div style="margin-top: 30%;"> </div>
<app-footer></app-footer>