<body>
    <app-header></app-header>
    <div class="main">
        <div class="path">
            <p class="p1">Home > Recipe > </p>
            <p class="p2">{{recipeDetails.recipeTitle}}:</p>
        </div>
        <div class="recpname">
            <p class="name">{{recipeDetails.recipeTitle}}</p>
            <div class="alldetails">
                <div class="alldetails1">
                    <div class="authimg"><ion-icon name="person-circle-outline" class="authorimg"></ion-icon>
                        <p class="authname">{{recipeDetails.authorName}}</p>
                    </div>
                    <div class="dateimg"><ion-icon name="calendar-outline" class="date"></ion-icon>
                        <p class="datename">26 sep, 2023</p>
                    </div>
                </div>
                <div class="alldetails2">
                    <div class="comtimg"><ion-icon name="chatbubble-ellipses-outline" class="cmt"></ion-icon>
                        <p class="cmtdata">22 Comments</p>
                    </div>
                    <div class="saveimg"><ion-icon name="bookmark-outline" class="save"></ion-icon>
                        <p class="savedata">9 Save</p>
                    </div>
                </div>
                <div class="starimg">
                    <p class="stars">★★★★☆</p>
                    <p class="strtext">4.0/10 Reviwe</p>
                </div>

                <div class="bkmark"><ion-icon name="bookmark" class="bookmark"></ion-icon></div>
                <div class="shrbtn"><ion-icon name="share-social-outline" class="share"></ion-icon></div>

            </div>
        </div>
        <div class="hr"></div>
        <div class="main1">

            <div class="part1">

                <div class="img-card1">
                    <div class="saladimg"><img src={{recipeDetails.recipeImage}}></div>
                </div>

                <div class="prep">
                    <div class="preparation">
                        <p class="prepname">Prep time:</p>
                        <p class="preptime">{{recipeDetails.prepHour}} Hours : {{recipeDetails.prepMinute}} Minutes</p>
                    </div>
                    <div class="hr3"></div>
                    <div class="preparation">
                        <p class="prepname">Cook time:</p>
                        <p class="preptime">{{recipeDetails.cookHour}} Hours : {{recipeDetails.cookMinute}} Minutes</p>
                    </div>
                    <div class="hr3"></div>
                    <div class="preparation">
                        <p class="prepname">Serving</p>
                        <p class="preptime">{{recipeDetails.serving}} Serving</p>
                    </div>
                </div>
                <div class="main2">
                    <div>
                        <p class="recpdetails">{{recipeDetails.description}}
                        </p>
                    </div>

                    <div>
                        <p class="ingre">Ingredients: </p>
                    </div>
                    <div>
                        <ul *ngFor="let ing of ingred">
                            <li>
                                <input type="checkbox" id="cb1" name="cb1">
                                <label for="cb1">{{ing}}</label>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <p class="ingre">Instruction: </p>
                    </div>
                    <div class="Ingredients-block" *ngFor="let ins of instru; let i = index">
                        <div class="Ingredients-inner-block">
                            <div class="border-box">{{i + 1}}</div>
                            <div class="Ingredients-text">{{ins}}
                            </div>
                        </div>

                    </div>
                    <!-- <div class="recipecard" data-aos="flip-right">
                        <div class="RC1" data-aos="flip-right">
                            <div class="imgandname">
                                <div class="saladimg1"><img src={{recipeDetails.recipeImage}}>
                                    <div class="starimg">
                                        <p class="stars2">★★★★☆</p>
                                        <p class="strtext">4.0/10 Reviwe</p>
                                    </div>
                                </div>

                                <div>
                                    <p class="CRname">{{recipeDetails.recipeTitle}}</p>
                                    <div class="authanddate">
                                        <div class="authimg"><ion-icon name="person-circle-outline"
                                                class="authorimg"></ion-icon>
                                            <p class="authname">{{recipeDetails.authorName}}</p>
                                        </div>
                                        <div class="dateimg"><ion-icon name="calendar-outline" class="date"></ion-icon>
                                            <p class="datename">26 sep, 2023</p>
                                        </div>
                                    </div>
                                    <div class="cmtandsave">
                                        <div class="comtimg"><ion-icon name="chatbubble-ellipses-outline"
                                                class="cmt"></ion-icon>
                                            <p class="cmtdata">22 Comments</p>
                                        </div>
                                        <div class="saveimg"><ion-icon name="bookmark-outline" class="save"></ion-icon>
                                            <p class="savedata">9 Save</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shareandadd">
                            <div class="RC2">
                                <div class="saveoutline"><ion-icon name="bookmark-outline"
                                        class="saveoutlineimg"></ion-icon>
                                    <p>Add to Favourite</p>
                                </div>
                            </div>
                            <div class="RC2">
                                <div class="saveoutline"><ion-icon name="share-social-outline"
                                        class="saveoutlineimg"></ion-icon>
                                    <p>Share Recipe</p>
                                </div>
                            </div>
                        </div>
                        <div class="hr4"></div>
                        <div>
                            <p class="ingre1">Ingredients: </p>
                        </div>
                        <div class="card-ingre">

                            <ul *ngFor="let ing of ingred">
                                <li>
                                    <input type="checkbox" id="cb1" name="cb1" checked>
                                    <label for="cb1">{{ing}}</label>
                                </li>

                            </ul>

                        </div>
                        <div>
                            <p class="ingre1">Instruction: </p>
                        </div>
                        <div>
                            <div class="Ingredients-block" *ngFor="let ins of instru; let i = index"
                                style="width: 90%; margin-left: 30px;">
                                <div class="Ingredients-inner-block">
                                    <div class="border-box">{{i + 1}}</div>
                                    <div class="Ingredients-text">{{ins}}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> -->

                    <div class="hr5"></div>

                    <div>
                        <p class="like">You Might like this</p>
                    </div>
                    <div class="main-card-container">
                        <div class="card-container" *ngFor="let card of recipecard; let i = index">
                            <div class="card" *ngIf="i < 3">
                                <div class="img-card">
                                    <div class="imgtag"><img src={{card.recipeImage}} alt="c1"></div>
                                </div>
                                <p class="stars1">★★★★☆</p>
                                <h5>{{card.recipeTitle}} </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="part2">
                <div class="leftside">
                    
                    <div class="recent">
                        <p>Recent Recipes</p>
                    </div>
                    <div class="recentmain">
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent1.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">170 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent2.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">210 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent3.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">140 cals</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card2">
                        <p class="c2header">Stay Connected with our Recipe updates </p>
                        <p class="c2detail">for the latest health tips and delicious recipes</p>
                        <div class="input-group">
                            <input type="email" placeholder="&#9993; Enter your email"><br>
                            <button type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="recent">
                        <p>Related Recipe</p>
                    </div>
                    <div class="related-recipe">
                        <div class="related">
                            <img src="../../../assets/recent1.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent2.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent3.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent1.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent2.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                        <div class="related">
                            <img src="../../../assets/recent3.jpg">
                            <p>Green Goddess wrap is a Light & Simple</p>
                        </div>
                    </div>
                    <div class="recent">
                        <p>Trending Recipes</p>
                    </div>
                    <div class="recentmain">
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/trend1.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">170 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/trend2.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">210 cals</p>
                                </div>

                            </div>
                        </div>
                        <div class="RR1">
                            <div class="RRimg"><img src="../../../assets/recent3.jpg"></div>
                            <div class="RRdata">
                                <p style="font-weight: bold;">Green Goddess wrap is a Light & Simple</p>
                                <p class="stars" style="margin-top: -13px;">★★★★☆</p>
                                <div class="calary">
                                    <img src="../../../assets/burn.png" class="calimg">
                                    <p class="caltext">140 cals</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<div style="margin-top:10%;"> <app-footer></app-footer></div>
