<div class="card-container">
 
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
          </div>
          <p class="stars">★★★★☆</p>
          <h4>Straberry and walnut Spinach Salad </h4>
          <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">188 cals</p>
            </div>
        </div>
    </div>
   
    <div class="card ">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">232 cals</p>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">195 cals</p>
            </div>
        </div>
    </div>
   
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
          </div>
          <p class="stars">★★★★☆</p>
          <h4>Straberry and walnut Spinach Salad </h4>
          <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">210 cals</p>
            </div>
        </div>
    </div>
   
    <div class="card img2">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">200 cals</p>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
            <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()"></div>
            <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()"></div>
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <img src="../../../assets/burn.png" class="calimg">
                <p class="caltext">170 cals</p>
            </div>
        </div>
        
    </div>
   
    
</div>

