<div class="row">
    <div class="card-container" *ngFor="let Post of recepiCard | filter : filterData; let i = index">
        <div class="card" *ngIf="i < 3">
            <div class="img-card">
                <div class="imgtag"><img src={{Post.recipeImage}} alt="c1"></div>
                <!-- <div class="svgsave imgborad"  *ngIf="Save"><img src="../../../assets/icons8-bookmark border.svg" (click)="saveButton()" ></div>
                <div class="svgsave imgborad" *ngIf="!Save"><img src="../../../assets/icons8-bookmark cream.svg" (click)="saveButton()" ></div> -->
              </div>
              <p class="stars">★★★★☆</p>
              <h4>{{Post. recipeTitle}}</h4>
              <div class="part4">
                <img src={{Post.authorImg}} class="personimg">
                <p class="name">{{Post.authorName}}</p>
                <div class="calary">
                    <p class="caltext" [routerLink]="['/','recipe',Post.id]">View Recipe</p>
                </div>
            </div>
            <!-- <button mat-stroked-button color="primary" [routerLink]="['/','recipe',Post.id]">Show Details</button>  -->
        </div>
    </div>
</div>



<!-- <div class="card-container">
 
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
            
          </div>
          <p class="stars">★★★★☆</p>
          <h4>Straberry and walnut Spinach Salad </h4>
          <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
    </div>
   
    <div class="card ">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
           
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
          
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
    </div>
   
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c1.jpg" alt="c1"></div>
           
          </div>
          <p class="stars">★★★★☆</p>
          <h4>Straberry and walnut Spinach Salad </h4>
          <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
    </div>
   
    <div class="card img2">
        <div class="img-card ">
            <div class="imgtag"><img src="../../../assets/c2.jpg" alt="c2"></div>
           
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
    </div>
   
    <div class="card">
        <div class="img-card">
            <div class="imgtag"><img src="../../../assets/c3.jpg" alt="c3"></div>
           
        </div>
        <p class="stars">★★★★☆</p>
        <h4>Straberry and walnut Spinach Salad </h4>
        <div class="part4">
            <img src="../../../assets/devu.png" class="personimg">
            <p class="name">Devu Kathiriya</p>
            <div class="calary">
                <p class="caltext">Explore more</p>
            </div>
        </div>
        
    </div>
   
    
</div>
 -->



