<footer id="footer">
    <div class="main">
            <div class="div1">
                <div class="header">
                    <div class="icon">
                        <ion-icon name="restaurant"></ion-icon>
                    </div>
                    <div class="header1">
                        <span class="hed1">FOOD.</span>
                        <span class="hed2">IO</span>
                    </div>
                </div>
                <div class="disc">
                    <span>
                        Welcome to food.io - your virtual kitchen<br>
                        companion, where culinary creativity knows<br>
                        no bounds. Browse through a plethora of<br>
                        recipes, from quick weeknight meals to <br>
                        indulgent desserts, and let your taste buds<br>
                        embark on a flavorful adventure. With food.io,<br>
                        cooking becomes not just a chore, but a <br>
                         delightful exploration of flavors and cultures
                    </span>
                </div>
            </div>

            <div class="div2">
                <div class="part2">
                    <span class="s1">Quick Links</span>
                    <span class="s2">Home</span>
                    <span class="s3">Recipe</span>
                </div>
            </div>

            <div class="div3">
                <div class="part3">
                    <span class="s1">Quick Links</span>
                    <span class="s2">Share Recipe</span>
                    <span class="s3">About us</span>
                    <span class="s4">Contact</span>
                </div>
            </div>

            
            <div class="div4">
                <div class="part4">
                    <span class="s1">Legal</span>
                    <span class="s2">Terms of Use</span>
                    <span class="s3">privacy&<br>Cookies</span>
                </div>
            </div>

            <div class="div5">
                <div class="newsletter">
                    <div class="h1"><h2> Newsletter</h2></div>
                    <div class="p1"><p>Subscribe to our newsletter to get more free tip </p></div>
                    <div class="input-group">
                      <input type="email" placeholder="&#9993; Enter your email"><br>
                      <button type="submit">Subscribe</button>
                    </div>
                  </div>
            </div>
    </div>
    <hr class="hr">
    <div class="main2">
        <div class="part1">
            <p>&copy; 2023 Recipe blog, All Right Reserved</p>
        </div>
        <div class="main2-part2">
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-facebook" class="logo2"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
        </div>
    </div>
</footer>